<!DOCTYPE html>
<html>
<head>
  <title>Plasticmodeldb</title>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plasticmodeldb</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <!-- from here http://www.free-css.com/free-css-templates/page120/t-20.php#bookmarks -->
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div class="page_margins">
      <h1>PM-DB</h1>
      <h2>Plastic models, reviews<br />
        and vendors</h2>
      <div id="service-nav">
        <ul>
          <li><a href="#">Archive</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Search</a></li>
        </ul>
      </div>
      <h3>About this</h3>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
    </div>
  </div>
  <div id="categories">
    <h4>C<br />
      a<br />
      t<br />
      e<br />
      g<br />
      o<br />
      r<br />
      i<br />
      e<br />
      s </h4>
    <h5>Alphabetical</h5>
    <ul>
      <li><a href="#"><span>A </span>&ndash; C</a></li>
      <li><a href="#"><span>D </span>&ndash; G</a></li>
      <li><a href="#"><span>H </span>&ndash; L</a></li>
      <li><a href="#"><span>M </span>&ndash; Q</a></li>
      <li><a href="#"><span>R </span>&ndash; Z</a></li>
    </ul>
    <h5>by Scale</h5>
    <ul>
      <li><a href="#">1/144</a></li>
      <li><a href="#">1/72</a></li>
      <li><a href="#">1/48</a></li>
      <li><a href="#">1/32</a></li>
      <li><a href="#">1/35</a></li>
    </ul>
  </div>
  <div class="article_head">
    <div class="page_margins">
      <p class="intro"> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place  </p>
      <h3>Plastic Model DB:</h3>
      <h2><span>F</span>eatured<br />
        &nbsp;&nbsp;Aircraft - F4U</h2>
    </div>
  </div>
  <div class="article">
    <div class="page_margins">
      <div class="col">
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <blockquote>
          <p>At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place</p>
        </blockquote>
        <p> At <abbr title="Plastic Model DB">PM-DB</abbr>, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place, At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place <a href="#">PM-DB</a>  At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place</p>
      </div>
      <div class="col">
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
      </div>
      <div class="two_col">
        <!--<div class="img"> <img src="images/quer_2.jpg" alt=""/> </div>-->
        <div class="img"> <img src="images/04.jpg" alt=""/> </div>
        <div class="col">
          <!--<div class="img"> <img src="images/quad_1.jpg" alt=""/> </div>-->
          <div class="img"> <img src="images/03.jpg" alt=""/> </div>
          <div class="w50">
            <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
          </div>
          <div class="w50">
            <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
          </div>
        </div>
        <div class="col">
          <div class="extra">
            <h3>F4U<br />
              &raquo;<em>Corsair</em>&laquo;</h3>
            <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place <a href="#">PM-DB</a> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place</p>
          </div>
        </div>
      </div>
    </div>
    <p class="article_info">Author: Gregory S Miller | April 2011</p>
  </div>
  <div class="article_head">
    <div class="page_margins">
      <p class="intro" > At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
      <h3>Plastic Model DB:</h3>
      <h2><span>F</span>eatured<br />
        &nbsp;Aircraft - F-14</h2>
    </div>
  </div>
  <div class="article">
    <div class="page_margins">
      <div class="two_col">
        <div class="img"> <img src="images/02.jpg" alt=""/> </div>
        <div class="w50">
          <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        </div>
        <div class="w50">
          <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place</p>
        </div>
        <div class="w50">
          <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        </div>
        <div class="col"> </div>
      </div>
      <div class="col">
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <blockquote>
          <p>At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place</p>
        </blockquote>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
      </div>
      <div class="col" >
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        <div class="extra">
          <h3>F-14<br />
            &raquo;<em>Tomcat</em>&laquo;</h3>
          <p> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place <a href="#">PM-DB</a> At Plastic Model DB, you'll be able to do all of your research about your favorite model, or just one you're interested in, in one place </p>
        </div>
      </div>
    </div>
    <p class="article_info">&copy; Copyright 2011 <a href="#">Gregory S Miller</a>. All Rights Reserved | Design by <a href="http://www.sokolowski-design.de/">Nikolaj Sokolowski</a></p>
  </div>
</div>

<%= yield %>

</body>
</html>
